body {
    margin: 0;
    padding: 0;
}

div.out_box {
    height: 90vh;
    width: 90vw;
}

div.square {
    height: 100%;
    width: 100%;
    background-image: url("../img/2-jezioro.jpg");
    background-size: cover;
    position: relative;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
}

div#box-1 {
    position: absolute;
    left: -15px;
    top: -15px;
    height: 40%;
    width: 104%;
    
}

div#box-1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 0%;
    width: 102%;
    border: transparent solid 8px;
}

div#box-1:hover::before {
    animation: ramka 1s linear;
}

@keyframes ramka {
    
    0%
    {
        width: 102%;
        height: 0;
        border-top-color: transparent;
        border-right-style: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        
    }
    100%
    {
        width: 102%;
        height: 100%;
        border-top-color: black;
        border-right-style: transparent;
        border-left-color: black;
        border-bottom-color: transparent;
        
    }
    
}

div#box-1::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 0%;
    width: 102%;
    border: transparent solid 8px;
}

div#box-1:hover::after {
    animation: ramk2 1s linear ;
}

@keyframes ramk2 {
    
    0%
    {
        width: 102%;
        height: 0;
        border-top-color: transparent;
        border-right-style: black;
        border-left-color: transparent;
        border-bottom-color: transparent;
        
    }
    100%
    {
        width: 102%;
        height: 100%;
        border-top-color: black;
        border-right-style: black;
        border-left-color: transparent;
        border-bottom-color: transparent;
        
    }
    
}

/* box 3 start */

div#box-3 {
    position: absolute;
    left: -15px;
    bottom: -15px;
    height: 40%;
    width: 104%;
    
}

div#box-3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 0%;
    width: 102%;
    border: transparent solid 8px;
}

div#box-3:hover::before {
    animation: ramka3 1s linear;
}

@keyframes ramka3 {
    
    0%
    {
        width: 102%;
        height: 0;
        border-top-color: transparent;
        border-right-style: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        
    }
    100%
    {
        width: 102%;
        height: 100%;
        border-top-color: transparent;
        border-right-style: transparent;
        border-left-color: black;
        border-bottom-color: black;
        
    }
    
}

div#box-3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 0%;
    width: 102%;
    border: transparent solid 8px;
}

div#box-3:hover::after {
    animation: ramk4 1s linear ;
}

@keyframes ramk4 {
    
    0%
    {
        width: 102%;
        height: 0;
        border-top-color: transparent;
        border-right-style: black;
        border-left-color: transparent;
        border-bottom-color: transparent;
        
    }
    100%
    {
        width: 102%;
        height: 100%;
        border-top-color: transparent;
        border-right-style: black;
        border-left-color: transparent;
        border-bottom-color: black;
        
    }
    