body {

    background-color: aqua;
}

div.square {
    height: 200px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 100px;
    text-align: center;
    display: block;
    -webkit-transition-property: top, bottom;
    -webkit-transition-duration: 0.5s;
}


div.square:hover {
    color: black;
    background-color: yellow;
    height: 400px;
    width: 400px;
}