body{
    margin: 0;
    padding: 0;
}

div.square {
    height: 50vh;
    width: 50vw;
    background-image: url("../img/2-jezioro.jpg");
    background-size: cover;
    
    position: absolute;
    top: 25%;
    left: 25%
}


div.square:hover {
   background-image: none;
    
    color: black;
    background-color: yellow;
  
    
    
}