#gallery{
    width:100%;
}
@media all and (max-width: 490px) {
    figure{
        width: 100%;
        height: auto;
    }
}
@media all and (min-width: 470px) and (max-width: 768px) {
    figure{
        width: 100%;
        height: auto;
    }
   
}
@media all and (min-width: 769px) and (max-width: 992px) {
    figure{
        width: 45%;
    }
}
@media all and (min-width: 993px) {
    figure{
        width: 33%;
        height: auto;
    }
}